.bghead {
    background-image: url('/img/mainbg.png');
  }
  .center-block {
    margin: auto;
    text-align: center;
}
.slider img {
  width: 50%;
  height: auto;
}
.contact_form{
  border-color: black;
}

.contact-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-section h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.motives .checkboxes label {
  display: inline-block;
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.navigation a {
  text-decoration: none; /* Remove default underline */
  color: black; /* Set text color for links */
}

.linktext{
  margin:auto;
}

button:hover {
  background-color: #0056b3;
}

textarea {
  text-align: left;
}
.Button-style {
  font-size: 18px;
  display: inline-block;
  padding: 0.4em 1em 0.2em;
  color: #413838;
  border: #ffffff dashed 1px;
  box-shadow: 0 0 0 0.2em #6d6c03;
  border-radius: 2.5px;
  background-color: #e0c350;
  cursor: pointer;
}

/* パノラマ用 */

#panolens {
  width: 50%;
  height: 50vh;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 700px;
  height: 400px;
}

#btn_change_size {
  position: absolute;
  height: 30px;
  left: 10px;
  top: 10px;
}
